{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="pirate-section text-center">
  <h1 class="pirate-heading display-4 fw-bold pirate-heading pirate-font text-white">⚓ Les trésors du coaching</h1>
  <div class="container" style="margin-top:2.5%">
    <div class="row g-4 justify-content-center">
      <div class="col-md-4">
        <div class="pirate-card h-100">
          <img src="{% static 'img/compass.png' %}" class="pirate-boussole" alt="Boussole">
          <h5 class="pirate-font">⚓ Trouver ton cap</h5>
          <p class="pirate-comment">🧭 "Savoir où voguer avant de hisser les voiles."</p>
          <p>Définir ta direction de vie, clarifier tes priorités (projet pro, perso, ou équilibre) et tracer ta propre carte au trésor.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="pirate-card h-100">
          <img src="{% static 'img/compass.png' %}" class="pirate-boussole" alt="Boussole">
          <h5 class="pirate-font">🦜 2. Déterrer ton potentiel</h5>
          <p class="pirate-comment">🪙 "Y’a du butin en toi, faut juste gratter un peu le sable."</p>
          <p>Travailler la confiance en soi, identifier ses forces et lever les croyances qui freinent ton navire.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="pirate-card h-100">
          <img src="{% static 'img/compass.png' %}" class="pirate-boussole" alt="Boussole">
          <h5 class="pirate-font">🏴‍☠️ 3. Arrêter de tourner en rond sur l’île de la procrastination</h5>
          <p class="pirate-comment">🐢 "À force d’attendre la marée, on oublie de ramer."</p>
          <p>Mettre en place une routine d’action, fixer des objectifs réalistes, dire adieu aux “demain peut-être”.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
